body {
    font-family: sans-serif;
    padding: 0;
    color: blueviolet;
    background-color: rgb(95, 41, 213);
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 40px;
    background-color: rgb(53, 11, 30);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    font-size: 2em;
    color: #343a40;

}

p {
    line-height: 1.6;
    margin-bottom: 0;
}